.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  font-size: 18px;
  font-style: italic;
  color: #00c;
}

.home-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Adjust this value as needed */
  overflow: hidden;
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.presentation-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.home-options {
  z-index: 100; 
  margin-top: 240px;
  padding: 10px 20px;
  background-color: rgba(30,30,30, .3);
  border-radius: 10px;
}

.home-options button {
  margin: 20px ;
  padding: 25px 105px;
  color: white;
  background-color: #33f;
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 10px;
  font-family: 'Calibri';
}

.card-body,.card-header,.table {
  border: 2px solid black;
  outline: none;
}

.header {
  height: 70px;
  position: fixed;
  width: 100vw;
  opacity: 1;
  z-index: 999;
}

.header-link {
  margin: 0px 10px;
}

.account-input {
  padding-top: 100px;
}

.crud {
  position: relative;
}
.crud-body {
  top: 70px;
  position: absolute;
  left: 202px;
  padding: 30px;

}
.crud-side {
  position: fixed;
  top: 70px;
  height: 100vh;
  width: 200px;
  box-shadow: #282c34 0px 1px 2px;
  padding-top: 30px;
}



.mb-0,.card-header{ 
background-color: #61dafb;
}
.btn-success{
margin-top: 10px;
}

.table-prod th, .table-prod tr, .table-prod td {
  border-collapse: collapse;
  border: 1px black solid;
  padding: 10px 0px;
}

.table-prod {
  text-align: center;
  width: 90vw;
  margin: 30px;
}

.table-prod th{
  padding:10px 70px;
}

.table-prod .btn{
  margin: 0px  10px;
}

.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px
}
.sidebar {
  height: 100vh; /* Set sidebar height to viewport height */
}

.nav.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center-align the links vertically */
  height: 100%; /* Occupy full height of sidebar */
}

.nav-link {
  text-align: center; /* Center-align the text */
}

/* Optional: Add some padding to the links */
.nav-link {
  padding: 10px 0;
}

/* styles.css */

.container-fluid {
  display: flex;
}

.container-fluid .row {
  flex-grow: 1;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  padding: 20px 0; /* Adjust as needed */
}

.nav.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-link {
  text-align: center;
  padding: 10px 0;
}

.main-content {
  padding: 20px; /* Adjust as needed */
  flex-grow: 1;
}


/* manageuser */
.mt-5{
margin-top: 100px;
}


.table-striped {

  margin-bottom: 1000px;
}